################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ShoppingCartDemo/ShoppingCartDemo/.vs
/ContosoUniversity/ContosoUniversity/obj/Release/net5.0
